<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1>Tracciamenti del percorso "{{trackName}}"</h1>
			<p class="lead">Esperienza "{{expName}}"</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default" id="panel-telemetries">
				<div class="panel-heading">
					<p class="panel-title">
						Elenco tracciamenti
					</p>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="t in telemetries">
						#{{t.id}} - {{t.events[0] | date:'dd/MM/yyyy' }}
						<div class="btn-group">
							<button class="btn btn-primary btn-xs"
								ng-click="showTelemetry($index)">
								Visualizza
							</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-7">
			<angularchart dataset="chartData" options="chartOptions">
			</angularchart>
		</div>
	</div>
	<div class="row vspace" ng-show="currentTelemetryIndex != -1">
		<div class="col-md-5">
			<h2>Condividi esperienza</h2>
			<button class="btn btn-primary" socialshare
				socialshare-provider="facebook"
				socialshare-text="Ho fatto una nuova escursione!">
				Condividi su Facebook
			</button>
			<button class="btn btn-primary" socialshare
				socialshare-provider="twitter"
				socialshare-text="Ho fatto una nuova escursione!">
				Condividi su Twitter
			</button>
		</div>
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>Checkpoint</th>
					<th>Raggiungimento</th>
					<th>Tempo dal checkpoint precedente</th>
				</tr>
				<tr ng-repeat="t in currentTelemetry.data.events">
					<td>Checkpoint #{{$index+1}}</td>
					<td>{{t | date:'HH:mm:ss - dd/MM/yyyy' }}</td>
					<td>
						{{currentTelemetry.timelapse[$index]}} minuti
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
