body {
	width: 90%;
	margin: 0 auto;
}

footer {
	margin-top: -1.2em;
}

#welcome-panel {
	background-image: url('../img/welcome-serleena-cloud.jpg');
	background-size: cover;
	background-position: center center;
}
