body {
	width: 90%;
	margin: 0 auto;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

.jumbotron h1 {
	font-size: 42px;
}

.jumbotron p {
	font-size: 18px;
}

footer {
	margin-top: -1.2em;
}

#welcome-panel {
	background-image: url('../img/welcome-serleena-cloud.jpg');
	background-size: cover;
	background-position: center center;
}

p#welcome-text {
	margin-right: 7em;
}
